* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-page {
  height: 100%;
  background-image: url(../image/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-navi {
  padding: 30px;
  height: 110px;
  display: flex;
  justify-content: flex-end;
}

.main-navi .item > a {
  font-size: 14px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
.main-navi .item > a:hover {
  font-size: 14px;
  font-weight: 800;
  color: white;
  text-decoration: underline;
}
.item {
  display: grid;
  grid-template-columns: 85px 85px 85px 85px 85px 85px 85px;
  column-gap: 10px;
  color: white;
  text-align: center;
}

/* main form */
.main-form {
  background-color: white;
  margin-left: 10%;
  margin-top: 1%;
  padding: 32px 32px 24px 32px;
  width: 441px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.12);
}
.corona-form {
  background-color: white;
  margin-left: 10%;
  margin-top: 1%;
  padding: 32px 32px 24px 32px;
  width: 441px;
  border-radius: 4px;
  border-top: solid 10px orange;
  overflow: hidden;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.12);
}
.cotext1 {
  font-weight: bold;
}
.cotext2 {
  font-size: 14px;
  font-weight: 200;
}
.cotext3 {
  font-weight: bold;
  text-decoration: underline;
}

.ahrwjrwl {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border: 2px solid #f1f1f1;
  font-size: 18px;
}
.abbox {
  display: flex;
  border: none;
}
.abbox > div {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.susdnjfdlf {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border: 2px solid #f1f1f1;
  font-size: 12px;
}
.btn {
  display: flex;
  margin-left: auto;
  background-color: #ff5a5f;
  width: 80px;
  height: 48px;
  padding-left: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 20%;
}
.logo {
  margin-right: auto;
}
.bottom-text {
  padding: 30px;
  text-align: right;
  color: white;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

/* 텍스트상자 */
.text_input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border: 2px solid #f1f1f1;
}

/* 버튼 스타일*/
.loginbtn {
  background-color: #ff5a5f;
  color: white;
  padding: 10px 20px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  width: 88%;
  font-weight: bold;
  font-size: 18px;
}
.facebook {
  background-color: #4568b2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.google {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  font-size: 18px;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

.conta {
  padding: 10px 16px;
  padding: 32px 32px 24px 32px;
}
img {
  width: 18;
}
/* 배경화면(로그인창 바깥) */
.modal {
  display: none; /* 기본 안보이도록 */
  position: fixed; /* 포지션 픽스 */
  left: 0;
  top: 0;
  width: 100%; /* 가로길이 */
  height: 100%; /* 세로높이 */
  overflow: auto; /* 필요하면 스크롤 가능 */
  background-color: rgba(0, 0, 0, 0.75);
}

.join-popup {
  display: none; /* 기본 안보이도록 */
  position: fixed; /* 포지션 픽스 */
  left: 0;
  top: 0;
  width: 100%; /* 가로길이 */
  height: 100%; /* 세로높이 */
  overflow: auto; /* 필요하면 스크롤 가능 */
  background-color: rgba(0, 0, 0, 0.75);
}
.join-popup .line-combo {
  text-align: center;
  margin: 20px 0;
}
.join-popup .line-combo > span {
  font-weight: 800;
}
.join-popup .line-left {
  width: 220px;
  border-bottom: 1px solid #e4e4e4;
}
.join-popup .line-right {
  width: 220px;
  border-bottom: 1px solid #e4e4e4;
}

/* 로그인창 */
.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 30%;
}
.join-window {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 30%;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* 종료버튼 (x) */
.close {
  float: left;
  font-size: 40px;
  color: rgb(118, 118, 118);
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.text_1 {
  height: 20px;
  width: 280px;
  display: inline-block;
  border: none;
}
.text_2 {
  font-size: 20px;
  border-radius: 20%;
  background-color: #cd5c5c;
  color: white;
}
.text_3 {
  color: #cd5c5c;
  font-size: 30px;
}
.text_4 {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border: 1px solid #f1f1f1;
}
.text_5 {
  width: 400px;
  height: 30px;
  font-weight: 100;
  font-size: 18px;
}
.text_6 {
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 8%;
  font-weight: bold;
}
.text_7 {
  color: #cd5c5c;
  font-size: 30px;
}
.text_8 {
  height: 20px;
  width: 230px;
  display: inline-block;
  border: none;
}
.text_9 {
  font-weight: bold;
  border: 10px solid black;
}
.container {
  display: grid;
  /* 열을 설정 */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* 줄을 설정 */
  /* grid-template-rows: 50px 100px; */
  grid-auto-rows: 250px;
  border: none;
  height: 70%;
  /* 세로 갭 */
  row-gap: 40px;
  /* 가로 갭 */
  column-gap: 10px;
}
.container > div {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 400px;
  column-gap: 17px;
}
section {
  padding: 0px 100px;
}
.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  column-gap: 17px;
  border-radius: 20%;
}
.title {
  display: grid;
  grid-template-columns: 1fr;
  height: 400px;
  column-gap: 17px;
}
.p {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.p > a {
  color: #008489;
  text-decoration: none;
}
.p a:hover {
  color: #008489;
  text-decoration: underline;
}
