.text_1 {
  height: 20px;
  width: 280px;
  display: inline-block;
  border: none;
}
.text_2 {
  font-size: 20px;
  border-radius: 20%;
  background-color: #cd5c5c;
  color: white;
}
.text_3 {
  color: #cd5c5c;
  font-size: 30px;
}
.text_4 {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border: 1px solid #f1f1f1;
}
.text_5 {
  width: 400px;
  height: 30px;
  font-weight: 100;
  font-size: 18px;
}
.text_6 {
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 8%;
  font-weight: bold;
}
.text_7 {
  color: #cd5c5c;
  font-size: 30px;
}
.text_8 {
  height: 20px;
  width: 230px;
  display: inline-block;
  border: none;
}
.text_9 {
  font-weight: bold;
  border: 10px solid black;
}
.container {
  display: grid;
  /* 열을 설정 */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* 줄을 설정 */
  /* grid-template-rows: 50px 100px; */
  grid-auto-rows: 250px;
  border: none;
  height: 70%;
  /* 세로 갭 */
  row-gap: 40px;
  /* 가로 갭 */
  column-gap: 10px;
}
.container > div {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 400px;
  column-gap: 17px;
}
section {
  padding: 0px 100px;
}
.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  column-gap: 17px;
  border-radius: 20%;
}
.title {
  display: grid;
  grid-template-columns: 1fr;
  height: 400px;
  column-gap: 17px;
}
.p {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.p > a {
  color: #008489;
  text-decoration: none;
}
.p a:hover {
  color: #008489;
  text-decoration: underline;
}
