/* join 화면 */
.join-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #484848;
  }
  .join-window {
  width:100 ;
  height:100 ;
  padding:100 ;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  /* 화면 정 가운데 오게 한다. */
  }
  .join-popup .form {
  width:100 ;
  height:100 ;
  padding:100 ;
  border-radius: 4px;
  margin-bottom: 7px;
  }
  .join-popup .fbook-login {
  background-color: #4568b2;
  color:white;
  }